
body{
    zoom: 30%;
    background-image: url("MinecraftZug.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4.4em;
    text-align: center;
}
h1{
    color:white;
    font-weight: bold;
    text-align: center;
    text-shadow:
      0 0 5px black,
      0 0 10px black,
      0 0 30px grey;
}

h2{
    color:white;
    font-family: "WDXL Lubrifont JP N";
    font-weight: bold;
}

input{
  width: 3em;
  height: 3em;
}
label{
  font-size: 0.5em;

}

.textbox{
     backdrop-filter: blur(20px);
      color: whitesmoke;
      border-radius: 2em;
      border: black solid;
      padding: 1em;
      text-shadow:
      0 0 5px black,
      0 0 10px black,
      0 0 30px grey;
      font-size: 0.5em;
      margin: 2em;
}


#UHR{
    backdrop-filter: blur(8px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #ffe5d5;
  text-shadow:
    0 0 5px #fff,
    0 0 5px #c07900,
    0 0 10px #ffa200,
    0 0 20px #ffa200,
    0 0 30px #ffa200,
    0 0 40px #ffa200,
    0 0 50px #ffa200;

    border: black solid;
    width: 12.5em;
    height: 1.25em;
    border-radius: 0.7em;
    text-align: center;
    padding: 0.6em;
    margin-left: 32.3%;
}
